* {
    font-family: "Times New Roman," Times, serif;
    background-color: lightcyan;
}

h1{
    text-align: center;
}

.pink {
    color:pink;
}

p,
ol,
ul{
    color:red;
}

img{
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
